## Education Statistics

In [1]:
import pandas as pd
from math import prod
from helpers import df_initial_analysis

In [2]:
country = pd.read_csv("datasets/EdStatsCountry.csv")
df_initial_analysis(country, "country")
df_initial_analysis

The country dataset shape is: 241 rows & 32 columns
Total of NaN values in the country dataset is: 2354
Percentage of NaN values in the country dataset is: 30.52 %
There are 0 full duplicates rows
There are 1 empty columns
 The empty columns are: ['Unnamed: 31']
------------------------------------------------------------------------

Number of values/records per columns in country dataset
Country Code                                         241
Long Name                                            241
Short Name                                           241
Table Name                                           241
WB-2 code                                            240
2-alpha code                                         238
Currency Unit                                        215
System of National Accounts                          215
Region                                               214
Income Group                                         214
Latest population census                             213
National accounts base year                          205
System of trade                                      200
SNA price valuation                                  197
Latest trade data                                    185
Balance of Payments Manual in use                    181
IMF data dissemination standard                      181
Latest water withdrawal data                         179
Government Accounting concept                        161
Source of most recent Income and expenditure data    160
PPP survey year                                      145
Special Notes                                        145
Lending category                                     144
Latest agricultural census                           142
Latest household survey                              141
External debt Reporting status                       124
Vital registration complete                          111
Latest industrial data                               107
Other groups                                          58
Alternative conversion factor                         47
National accounts reference year                      32
Unnamed: 31                                            0
dtype: int64

In [3]:
serie = pd.read_csv("datasets/EdStatsSeries.csv")
df_initial_analysis(serie, "serie")

The serie dataset shape is: 3665 rows & 21 columns
Total of NaN values in the serie dataset is: 55203
Percentage of NaN values in the serie dataset is: 71.72 %
There are 0 full duplicates rows
There are 6 empty columns
 The empty columns are: ['Unit of measure', 'Notes from original source', 'Other web links', 'Related indicators', 'License Type', 'Unnamed: 20']
------------------------------------------------------------------------

Number of values/records per columns in serie dataset
Series Code                            3665
Source                                 3665
Indicator Name                         3665
Long definition                        3665
Topic                                  3665
Short definition                       2156
Other notes                             552
Base Period                             314
Related source links                    215
Periodicity                              99
Aggregation method                       47
Statistical concept and methodology      23
Limitations and exceptions               14
General comments                         14
Development relevance                     3
Notes from original source                0
Unit of measure                           0
Other web links                           0
Related indicators                        0
License Type                              0
Unnamed: 20                               0
dtype: int64

In [4]:
country_serie = pd.read_csv("datasets/EdStatsCountry-Series.csv")
df_initial_analysis(country_serie, "country_serie")

The country_serie dataset shape is: 613 rows & 4 columns
Total of NaN values in the country_serie dataset is: 613
Percentage of NaN values in the country_serie dataset is: 25.0 %
There are 0 full duplicates rows
There are 1 empty columns
 The empty columns are: ['Unnamed: 3']
------------------------------------------------------------------------

Number of values/records per columns in country_serie dataset
CountryCode    613
SeriesCode     613
DESCRIPTION    613
Unnamed: 3       0
dtype: int64

In [5]:
df_foot_note = pd.read_csv("datasets/EdStatsFootNote.csv")
df_initial_analysis(df_foot_note, "Foot Note")

The Foot Note dataset shape is: 643638 rows & 5 columns
Total of NaN values in the Foot Note dataset is: 643638
Percentage of NaN values in the Foot Note dataset is: 20.0 %
There are 0 full duplicates rows
There are 1 empty columns
 The empty columns are: ['Unnamed: 4']
------------------------------------------------------------------------

Number of values/records per columns in Foot Note dataset
CountryCode    643638
SeriesCode     643638
Year           643638
DESCRIPTION    643638
Unnamed: 4          0
dtype: int64

In [6]:
data = pd.read_csv("datasets/EdStatsData.csv")
df_initial_analysis(data, "Data")

The Data dataset shape is: 886930 rows & 70 columns
Total of NaN values in the Data dataset is: 53455179
Percentage of NaN values in the Data dataset is: 86.1 %
There are 0 full duplicates rows
There are 1 empty columns
 The empty columns are: ['Unnamed: 69']
------------------------------------------------------------------------

Number of values/records per columns in Data dataset
Country Name      886930
Indicator Name    886930
Indicator Code    886930
Country Code      886930
2010              242442
                   ...
1973               35545
1971               35537
2016               16460
2017                 143
Unnamed: 69            0
Length: 70, dtype: int64

In [21]:
# List of countries as given in ISO 3166-1 and the corresponding ISO 3166-1-alpha-2 code elements.  
countries_iso = pd.read_csv("datasets/countries_ISO.csv", sep="\t", encoding='utf-8') # Avoiding that "NA" will be interpreted as NaN by Pandas
df_initial_analysis(countries_iso, "Countries ISO")

The Countries ISO dataset shape is: 249 rows & 1 columns
Total of NaN values in the Countries ISO dataset is: 0
Percentage of NaN values in the Countries ISO dataset is: 0.0 %
There are 0 full duplicates rows
There are 0 empty columns
------------------------------------------------------------------------

Number of values/records per columns in Countries ISO dataset
Name,Code    249
dtype: int64

In [20]:
mask_country = country.iloc[0].isin(countries_iso.code)
mask_country.shape()
#col_mapping = [f"{c[0]}:{c[1]}" for c in enumerate(countries_iso.columns)]
#col_mapping

['0:Name,Code']